HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env
/docker/volumes/etcd/member/wal/0.tmp
/docker/volumes/etcd/member/wal/0000000000000000-0000000000000000.wal
/docker/volumes/milvus/rdb_data/000005.log
/docker/volumes/milvus/rdb_data_meta_kv/000009.sst
/docker/volumes/milvus/rdb_data_meta_kv/000011.log
/docker/volumes/milvus/rdb_data/000012.log
/docker/volumes/minio/.minio.sys/tmp/.trash/a3d68067-7e8e-4046-aecc-a4c1e0ac461d
/docker/volumes/milvus/rdb_data/CURRENT
/docker/volumes/milvus/rdb_data_meta_kv/CURRENT
/docker/volumes/etcd/member/snap/db
/docker/volumes/minio/.minio.sys/format.json
/docker/volumes/milvus/rdb_data/IDENTITY
/docker/volumes/milvus/rdb_data_meta_kv/IDENTITY
/docker/volumes/milvus/rdb_data/LOCK
/docker/volumes/milvus/rdb_data_meta_kv/LOCK
/docker/volumes/milvus/rdb_data/LOG
/docker/volumes/milvus/rdb_data_meta_kv/LOG
/docker/volumes/milvus/rdb_data_meta_kv/LOG.old.1775063330982663
/docker/volumes/milvus/rdb_data/LOG.old.1775063331152207
/docker/volumes/milvus/rdb_data_meta_kv/MANIFEST-000010
/docker/volumes/milvus/rdb_data/MANIFEST-000011
/docker/volumes/milvus/rdb_data_meta_kv/OPTIONS-000007
/docker/volumes/milvus/rdb_data/OPTIONS-000009
/docker/volumes/milvus/rdb_data_meta_kv/OPTIONS-000013
/docker/volumes/milvus/rdb_data/OPTIONS-000014
/docker/volumes/minio/.minio.sys/buckets/a-bucket/.metadata.bin/xl.meta
/docker/volumes/minio/.minio.sys/config/config.json/xl.meta
/docker/volumes/minio/.minio.sys/config/iam/format.json/xl.meta
/docker/volumes/minio/.minio.sys/pool.bin/xl.meta
/docker/volumes/
